body {
  cursor: none;
}

/* preloader */

.preLoader {
  pointer-events: none;
  .placeholderFrame {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-base);
  }
  .grayFrame {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-highlight-base);
  }
  .blackFrame {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-base);
  }
  .logoFrame {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      width: max(15vw, min(20vw + 50px)) /*200px*/;
      height: auto;
    }
  }
}

/* topheader and navbar */

.topHeader {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  transform: translateY(-100px);
  top: clamp(1rem, 4vw, 4rem);
  z-index: 90;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 var(--padding-base);
    width: 100%;
    max-width: var(--max-content-width);
    .left {
      .leftInner {
        background: transparent;
        text-decoration: none;
        .label {
          font-family: "Inter", sans-serif;
          font-size: clamp(1rem, 10vw, 1.5rem);

          color: var(--text-base);
          /*
          transition: var(--transition-hover-base);
          */
        }
      }
    }
    .right {
      .hamburger {
        /*
        width: 60px;
        height: 60px;
        */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: transparent;
        .inner {
          display: flex;
          flex-direction: column;
          position: relative;
          justify-content: center;
          align-items: center;
          .hamburgerOpen {
            display: flex;
            flex-direction: column;
            position: fixed;
            align-items: end;
            justify-content: space-between;
            width: 20px;
            height: 20px;

            transform: translate(0px, 0px);
            opacity: 1;
            .line {
              height: 2px;
              background-color: var(--text-base);
              /*
              transition: var(--transition-hover-base);
              */
            }
            .line:nth-child(1) {
              width: 26px;
            }
            .line:nth-child(2) {
              width: 13px;
            }
            .line:nth-child(3) {
              width: 17px;
            }
          }
          .hamburgerClosed {
            display: flex;
            flex-direction: column;
            position: fixed;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;

            transform: translate(170px, 0px);
            opacity: 0;
            .line {
              position: fixed;
              height: 2px;
              width: 25px;
              background-color: var(--text-base);
              /*
              transition: var(--transition-hover-base);
              */
            }
            .line:nth-child(1) {
              transform: rotate(45deg);
            }
            .line:nth-child(2) {
              transform: rotate(135deg);
            }
          }
        }
      }
    }
    .left:hover {
      .leftInner {
        .label {
          color: var(--text-hover);
        }
      }
    }
    .right:hover {
      .hamburger {
        .inner {
          .hamburgerOpen {
            .line {
              background-color: var(--text-hover);
            }
          }
          .hamburgerClosed {
            .line {
              background-color: var(--text-hover);
            }
          }
        }
      }
    }
  }
}

.navbar {
  position: fixed;
  display: block;
  height: 100%;
  width: 100%;
  z-index: 50;
  pointer-events: none;
  .shade {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #4e4e4e1b;
    opacity: 0;
    pointer-events: none;
  }
  .content {
    position: relative;
    display: flex;
    justify-content: center;

    width: 100%;
    height: 89dvh;
    background-color: var(--navbar-base);

    clip-path: polygon(0 0, 100% 0, 100% var(--nl), 0 var(--nr));

    color: var(--text-base);
    font-family: "hind", sans-serif;
    font-size: 1rem;
    line-height: 1rem;
    pointer-events: all;

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      padding-bottom: 2rem;
      .inner {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
        padding: 0 var(--padding-base);
        max-width: var(--max-content-width);
        .contact {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          font-size: 1rem;
          padding-bottom: 1.25rem;
          .title {
            padding: 0.5rem 0 0.75rem;
          }
          .contactInfo {
            display: flex;
            flex-direction: column;
            a {
              text-decoration: none;
              color: var(--text-base);
              /*
              transition: var(--transition-hover-base);
              */
            }
            a:hover {
              color: var(--text-hover);
            }
          }
        }
        .info {
          display: flex;
          flex-direction: column;
          line-height: clamp(3rem, 5vw, 5rem);
          .label {
            pointer-events: none;
            margin-bottom: 1rem;
            color: var(--text-base);
            font-size: clamp(4rem, 4vw, 5rem);
            font-family: "roboto", sans-serif;
            text-transform: lowercase;
            .description {
              text-align: start;
            }
          }
          .socials {
            display: flex;
            gap: 1rem;
            align-items: start;
            justify-content: start;
            .social {
              a {
                i {
                  color: var(--text-base);
                  font-size: clamp(1rem, 6.4vw, 1.25rem);
                  /*
                  transition: var(--transition-hover-base);
                  */
                }
              }
              a:hover {
                i {
                  color: var(--text-hover);
                }
              }
            }
          }
        }
      }
    }
  }
}

/* cursor logic */
.cursorDot {
  width: 5px;
  height: 5px;
  background-color: white;
}
.cursorOutline {
  width: 30px;
  height: 30px;
  border: 2px solid hsla(0, 0%, 100%, 0.3);
}

.cursorDot,
.cursorOutline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 2000;
  pointer-events: none;
}

@media (max-width: 768px) {
  [data-cursor-dot],
  [data-cursor-outline] {
    display: none;
  }
  body {
    cursor: pointer;
  }
}

/*mediaqueries*/

@media (min-width: 768px) {
  .navbar {
    .content {
      height: 76dvh;
      .container {
        .inner {
          flex-direction: row;
          gap: 0rem;
          .contact {
            .title {
              padding: 0 0 1rem;
            }
          }
          .info {
            .label {
              font-size: clamp(5.5rem, 8vw, 10rem);
              .description {
                text-align: end;
              }
            }
            .socials {
              align-items: end;
              justify-content: end;
            }
          }
        }
      }
    }
  }
}
