*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --bg-lowest: rgba(0, 0, 0);
  --navbar-base: var(--bg-base);

  /*
  --brand-positive-base: rgba(110, 62, 166);
  --brand-positive-highlight: rgba(121, 68, 181);
  --brand-positive-subdued: rgb(95, 53, 143);
  */

  --bg-base: #0e0e10;
  --bg-highlight-base: rgb(26, 26, 26);

  --text-base: rgb(
    var(--text-inactive-r),
    var(--text-inactive-g),
    var(--text-inactive-b)
  );
  --text-hover: rgb(
    var(--text-highlight-r),
    var(--text-highlight-g),
    var(--text-highlight-b)
  );

  --text-inactive-r: 40;
  --text-inactive-g: 40;
  --text-inactive-b: 40;

  --text-highlight-r: 125;
  --text-highlight-g: 125;
  --text-highlight-b: 125;

  --footer-text: var(--bg-base);
  --footer-bg: #feffec;

  --transition-hover-base: all ease-in-out 100ms;

  --max-content-width: 115rem;

  --nl: 0%; /*100%;*/
  --nr: 0%; /*86%;*/

  /*z-indexes, from highest to lowest.*/
  --intro-z-index: 99;
  --header-z-index: 95;
  --navbar-z-index: 90;
  --root-z-index: 1;

  /*viewport widths.*/
  --xs-width: 320px;
  --sm-width: 576px;
  --md-width: 768px;
  --lg-width: 992px;
  --xl-width: 1200px;
  --xxl-width: 1440px;
}
