.root {
  position: relative;
}

.layout {
  overflow-y: hidden;
  background-color: var(--bg-base);
  display: flex;
  flex-direction: column;
  gap: clamp(5rem, 12vw, 40rem);
}

.hero {
  min-height: 100dvh;
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--padding-base);
    max-width: var(--max-content-width);
  }
}
