.layout {
  background-color: var(--bg-base);
  color: var(--text-base);
  padding: clamp(4rem, 7vw, 8rem) 0;

  .section {
    .container {
      width: 100%;
      margin: 0 auto;
      padding: 3rem var(--padding-base) 0;
      max-width: var(--max-content-width);

      .header {
        padding: 0.5rem 0 0;
        color: var(--text-inactive);
        font-family: "hind", sans-serif;
        font-size: 2rem;
        font-weight: 400;
      }
      .paragraph {
        padding: max(1rem, min(1vw - 0.05rem)) 0;
        font-family: "hind", sans-serif;
        font-size: 1rem;

        a {
          color: var(--text-base);
        }
        a:hover {
          color: var(--text-hover);
        }
      }
      .orderedList {
        padding-left: 2rem;
      }
      ul {
        padding-left: 2rem;
        li {
          font-family: "hind", sans-serif;
          font-size: 1rem;
        }
      }
    }
  }
}
