*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --bg-lowest: rgba(0, 0, 0);
  /*
  --bg-base: rgba(18, 18, 18);
  --bg-highlight: rgba(26, 26, 26);
  */
  --bg-elevated-base: #242424;
  --bg-elevated-highlight: #2a2a2a;
  --bg-lowest-reverse: rgb(255, 255, 255);
  --bg-base-reverse: rgb(--text-base);

  /*
  --text-base: rgba(255, 255, 255);
  --text-subdued: rgba(167, 167, 167);
  --text-base-black: rgba(0, 0, 0, 1);
  */
  --brand-positive-base: rgba(110, 62, 166);
  --brand-positive-highlight: rgba(121, 68, 181);
  --brand-positive-subdued: rgb(95, 53, 143);

  --bg-base: #111;
  --text-base: rgb(119, 119, 119);
  --text-highlight: rgb(170, 170, 170);

  --nl: 0%; /*100%;*/
  --nr: 0%; /*86%;*/

  /*z-indexes, from highest to lowest.*/
  --intro-z-index: 99;
  --header-z-index: 95;
  --navbar-z-index: 90;
  --root-z-index: 1;

  /*viewport widths.*/
  --xs-width: 320px;
  --sm-width: 576px;
  --md-width: 768px;
  --lg-width: 992px;
  --xl-width: 1200px;
  --xxl-width: 1440px;
}

@media (min-width: var(--xs-width)) {
}

@media (min-width: var(--sm-width)) {
}

@media (min-width: var(--md-width)) {
}

@media (min-width: var(--lg-width)) {
}

@media (min-width: var(--xl-width)) {
}

@media (min-width: var(--xxl-width)) {
}
